/**********************************************
	CSS RESET
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
**********************************************/

html, body, div, span, object, 
h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr,  cite, code, img,
small, strike,  sub, sup, tt, var,
strong, em, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**********************************************
				global styles
**********************************************/

body {background-color: #faf8f7; font-family: 'Open Sans', sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family: 'Sanchez', serif; padding-bottom: 1%}

h1 {font-size: 2.75em; color: #2c81b5;}
h2 {font-size: 2.25em}
h3 {font-size: 2em}
h4 {font-size: 1.75em}
h5 {font-size: 1.5em}
h6 {font-size: 1.25em; font-weight: 700}

p {font-family: font-family: 'Open Sans', sans-serif; font-size: 1.25em}

.char1, {}


/**********************************************
				section styles
**********************************************/

.periodic_table {margin-top: 10px;}

/* header styles */
header {text-align: center;}
h1.no_pad {padding: 0}
#subhead {color: #c44032}


/* element type stylings */

.alkali_metals {background-color: #60a05d;}
.alkaline_earth_metals {background-color: #c4742c;}
.transition_metals {background-color: #2c81b5;}
.lanthanides {background-color: #60a05d;}
.actinides {background-color: #60a05d;}
.other_metals {background-color: #d9bc47;}
.metalloids {background-color: #30644e;}
.other_nonmetals {background-color: #792f46;}
.halogens {background-color: #af8561;}
.noble_gases {background-color: #6b5b94;}



/**********************************************
		grid styles
**********************************************/

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.col.elements {
			height: 100px;
			color: #faf8f7;
			font-size: 2.5em;
			text-align: center;
			line-height: 2.5em;
			margin-bottom: 2px;
        }
		
/* ******** device width 0px to 340px ******** */

    @media screen and (min-width: 0px) and (max-width: 340px) {
        
		
		.col {
            margin-left:0%;
        	padding:0 2px;

        }
        
        .row .col:first-child {
            margin-left:0;
        }
		
		.col.elements {height: 250px;}
        
        .span_1 {width:50.0%;}
        .span_2, .col {margin-left:0; width:100%;}
    }


/* ******** device width 0px to 640px ******** */
    

	 @media screen and (min-width: 340px) and (max-width: 640px) {
        
        		
		.row {margin-top: 20px;}
		
		.col {
            margin-left:2px;
        	padding:0 2px;
        }
		
		.col.elements {height: 150px;}
        
        /* .row .col:first-child {
            margin-left:0;
        } */
        
        
        .span_1 {width:25.0%;}
        .span_2 {width:50.0%;}
        .span_3 {width:75.0%;}
        .span_4 {margin-left:0; width:100%;}
		
    }

/* ******** device width 641px to 760px ******** */
	
	@media screen and (min-width: 641px) and (max-width: 760px) {
	
		
		.col {
            margin-left:2px;
        	padding:0 2px;
        }
		
		.col.elements {height: 150px;}
	
		.span_1 {width:16.666666666666666666666666666667%;}
        .span_2 {width:33.333333333333333333333333333333%;}
        .span_3 {width:50.0%;}
        .span_4 {width:66.666666666666666666666666666667%;}
		.span_5 {width: 83.333333333333333333333333333333%;}
		.span_6 {margin-left:0; width:100%;}
	
	}
		
	
/* ******** device width 761px to 960 ******** */

    @media screen and (min-width: 761px) and (max-width: 960){
        
        .row {margin-left:-2px;}
		
        .col {
            border-left-width:2px;
        	padding:0 0px;

        } 
        
        .span_1 {width:5.55555555556%;}
		.span_2 {width:11.1111111111%;}
		.span_3 {width:16.6666666667%;}
		.span_4 {width:22.2222222222%;}
		.span_5 {width:27.7777777778%;}
		.span_6 {width:33.3333333333%;}
		.span_7 {width:38.8888888889%;}
		.span_8 {width:44.4444444444%;}
		.span_9 {width:50.0%;}
		.span_10 {width:55.5555555556%;}
		.span_11 {width:61.1111111111%;}
		.span_12 {width:66.6666666667%;}
		.span_13 {width:72.2222222222%;}
		.span_14 {width:77.7777777778%;}
		.span_15 {width:83.3333333333%;}
		.span_16 {width:88.8888888889%;}
		.span_17 {width:94.4444444444%;}
		.span_18 {margin-left:0;width:100%;}
		
    }

	
/* ******** device width 961px to infinity ******** */

    @media screen and (min-width: 961px) {
        
        .row {margin-left:-2px;}
		
        .col {
            border-left-width:2px;
        	padding:0 0px;

        } 
        
        .span_1 {width:5.55555555556%;}
		.span_2 {width:11.1111111111%;}
		.span_3 {width:16.6666666667%;}
		.span_4 {width:22.2222222222%;}
		.span_5 {width:27.7777777778%;}
		.span_6 {width:33.3333333333%;}
		.span_7 {width:38.8888888889%;}
		.span_8 {width:44.4444444444%;}
		.span_9 {width:50.0%;}
		.span_10 {width:55.5555555556%;}
		.span_11 {width:61.1111111111%;}
		.span_12 {width:66.6666666667%;}
		.span_13 {width:72.2222222222%;}
		.span_14 {width:77.7777777778%;}
		.span_15 {width:83.3333333333%;}
		.span_16 {width:88.8888888889%;}
		.span_17 {width:94.4444444444%;}
		.span_18 {margin-left:0;width:100%;}
		
    }

